@page "/payment-cancel"
@using ClientLibrary.Helpers.Implementation
@using ClientLibrary.Helpers.Interface
@using ClientLibrary.States

<div class="container m-5 p-5">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="alert alert-danger text-center">@L["payment_cancelled"]</div>
        </div>
    </div>
</div>